<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog History</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

</head>
<body class="bg-gray-100 font-sans antialiased">
    <!-- Navbar -->
    <nav class="bg-blue-600 p-4 text-white flex justify-between" style="text-align: right;">
        <div>
            <h1 class="text-3xl font-bold">AI Blog Generator</h1>
        </div>
        <div>
            <p class="text-white">Welcome, {{user.username}}</p>
            <a href="/blog-history" class="text-white hover:underline mx-4">Saved Blog Posts</a>
            <a href="#" class="text-white hover:underline">Logout</a>
        </div>
    </nav>

    <!-- Main content -->
    <div class="container mx-auto mt-10 px-4 sm:px-0">
        <div class="max-w-3xl mx-auto bg-white p-6 rounded-lg shadow-md">
            <!-- Blog post section -->
            <section>
                <h2 class="text-xl mb-4 font-semibold">Previously generated articles</h2>
                <div class="space-y-4">

                    {% for post in blog_posts reversed %}
                    <a href="{% url 'blog-details' pk=post.id %}">
                        <div class="border border-gray-300 p-4 rounded-lg">
                            <h3 class="text-lg font-semibold">{{post.youtube_title}}</h3>
                            <p>{{post.generated_content|truncatechars:80}}</p>
                        </div>
                    </a>
                    {% endfor %}
                    <!-- Repeat -->
                </div>
            </section>
        </div>
    </div>
</body>
</html>